<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>House Price Prediction</title>
  </head>
  <body>
	<section>
		<h1>Kenya House Price Prediction</h1>
		<div class="selection">
		<article>
			<img alt="" src="{{ url_for('static', filename='img/house.png') }}">
		</article>
		<aside>
			<form method="post">
				<p>Fill in the details for your ideal rental</p>
				<label for="town">Town:</label>
				<select id="town" name="town" required>
					<option value="" selected disabled>Select a town</option>
					{% for town in towns %}
					<option value="{{ town }}">{{ town }}</option>
					{% endfor %}
				</select><br>
				<label for="sq_mtrs">Number of Sq_mtrs:</label>
				<input type="number" id="sq_mtrs" name="sq_mtrs" required><br>
				<label for="bedrooms">Bedrooms:</label>
				<input type="number"  id="bedrooms" name="bedrooms" required><br>
				<label for="bathrooms">Bathrooms:</label>
				<input type="number"  id="bathrooms" name="bathrooms" required><br>
				<label for="duration">Duration:</label>
				<div class="duration">
					<input type="radio" id="duration_days" name="duration" value="days" required>
					<label for="duration_days">Days</label>
					<input type="radio" id="duration_months" name="duration" value="months" required>
					<label for="duration_months">Months</label>
				</div>
				<label for="duration_value">Number of days/months:</label>
				<input type="number" id="duration_value" name="duration_value" required><br>

				<button type="submit">Predict</button><br>
			</form>
		</aside>
	    </div>
		{% if price_pred is defined %}
        <div class = "results">
			<h2>Results</h2>
			<p>The predicted rounded price for a house with your descriptions are below</p>
			<table>
				<thead>
					<tr>
						<th>Town</th>
						<th>Sq_mtrs</th>
						<th>Bedrooms</th>
						<th>Bathrooms</th>
						<th>Predicted Duration</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ town }}</td>
						<td>{{ sq_mtrs }}</td>
						<td>{{ bedrooms }}</td>
						<td>{{ bathrooms }}</td>
						<td>{{ duration_value }} {{ duration }}</td>
						<td>
							{% if price_pred <= 0 %}
							N/A
							{% else %}
							{{ '{:,.0f} Ksh'.format(lowest_price_towns[i]['Price']) }}
							{% endif %}
						</td>
					</tr>
				</tbody>
			</table>
			{% if lowest_price_towns is not none %}
			<h3>Lowest priced Towns with similar details:</h3>
			<table>
				<thead>
					<tr>
						<th>Town</th>
						<th>Sq_mtrs</th>
						<th>Bedrooms</th>
						<th>Bathrooms</th>
						<th>Predicted Duration</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					{% for i in range(0,len_lowest_price_towns) %}
					<tr>
						<td>{{ lowest_price_towns[i]['Town'] }}</td>
						<td>{{ sq_mtrs }}</td>
						<td>{{ bedrooms }}</td>
						<td>{{ bathrooms }}</td>
						<td>{{ duration_value }} {{ duration }}</td>
						<td>{{ '{:,.0f} Ksh'.format(lowest_price_towns[i]['Price']) }}</td>
						<td>
							{% if lowest_price_towns[i]['Price'] <= 0 %}
							N/A
							{% else %}
							{{ '{:,.0f} Ksh'.format(lowest_price_towns[i]['Price']) }}
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}
			{% if highest_price_towns is not none %}
			<h3>Highest priced Towns with similar details:</h3>
			<table>
				<thead>
					<tr>
						<th>Town</th>
						<th>Sq_mtrs</th>
						<th>Bedrooms</th>
						<th>Bathrooms</th>
						<th>Predicted Duration</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					{% for i in range(0,len_highest_price_towns) %}
					<tr>
						<td>{{ highest_price_towns[i]['Town'] }}</td>
						<td>{{ sq_mtrs }}</td>
						<td>{{ bedrooms }}</td>
						<td>{{ bathrooms }}</td>
						<td>{{ duration_value }} {{ duration }}</td>
						<td>
							{% if highest_price_towns[i]['Price'] <= 0 %}
							N/A
							{% else %}
							{{ '{:,.0f} Ksh'.format(highest_price_towns[i]['Price']) }}
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
		</div>  
    {% endif %}
	</section>
    

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script>
		// Get references to the input fields
var sq_mtrs_input = document.getElementById("sq_mtrs");
var bedrooms_input = document.getElementById("bedrooms");
var bathrooms_input = document.getElementById("bathrooms");
var duration_value_input = document.getElementById("duration_value");

// Add event listeners to the input fields to restrict input to positive integers
sq_mtrs_input.addEventListener("input", restrictToPositiveIntegers);
bedrooms_input.addEventListener("input", restrictToPositiveIntegers);
bathrooms_input.addEventListener("input", restrictToPositiveIntegers);
duration_value_input.addEventListener("input", restrictToPositiveIntegers);

function restrictToPositiveIntegers(event) {
  // Get the input value and remove any non-numeric characters
  var input_value = event.target.value.replace(/[^0-9]/g, "");
  
  // Set the input value to the cleaned value
  event.target.value = input_value;
}

	</script>
  </body>
</html>
